@font-face {
  font-family: contador;
  src: url(../fonts/SCOREBOARD.ttf); }
body {
  background-color: #468966; }

#contador {
  background-color: white;
  line-height: 2em;
  font-family: contador;
  font-size: 8em;
  text-align: center; }

.btn-default {
  border-color: initial !important;
  border: 0; }

#aumentar {
  float: right;
  width: 50%;
  height: 300px;
  font-size: 3em;
  background-color: #FFF0A5; }

#disminuir {
  float: left;
  width: 50%;
  height: 150px;
  font-size: 3em;
  background-color: #FFB03B; }

#resetear {
  float: left;
  width: 50%;
  height: 75px;
  font-size: 3em;
  background-color: #8E2800; }

#ayuda {
  float: left;
  width: 50%;
  height: 75px;
  font-size: 3em;
  background-color: #B64926; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  color: initial;
  background-color: initial;
  border-color: none; }

.btn-default:hover {
  color: initial;
  background-color: initial;
  border-color: none; }
