@font-face {
  font-family: contador;
  src: url(../fonts/SCOREBOARD.ttf); }
@keyframes cargando {
  0% {
    width: 10px;
    height: 10px;
    opacity: 0.9;
    transform: translateY(0); }
  100% {
    width: 24px;
    height: 24px;
    opacity: 0.1;
    transform: translateY(-21px); } }
body {
  background-color: #468966; }

#cargando {
  position: absolute;
  top: calc(50% - 10px / 2);
  left: calc(50% - 10px * 3 / 2); }
  #cargando span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: #FFB03B;
    border-radius: 50px;
    animation: cargando 0.9s infinite alternate; }
    #cargando span:nth-of-type(2) {
      animation-delay: 0.3s; }
    #cargando span:nth-of-type(3) {
      animation-delay: 0.6s; }

#contador {
  background-color: white;
  line-height: 2em;
  font-family: contador;
  font-size: 8em;
  text-align: center; }

.btn-default {
  border-color: initial !important;
  border: 0; }

#aumentar {
  float: right;
  width: 50%;
  height: 300px;
  font-size: 3em;
  background-color: #FFF0A5; }

#disminuir {
  float: left;
  width: 50%;
  height: 150px;
  font-size: 3em;
  background-color: #FFB03B; }

#resetear {
  float: left;
  width: 50%;
  height: 75px;
  font-size: 3em;
  background-color: #8E2800; }

#ayuda {
  float: left;
  width: 50%;
  height: 75px;
  font-size: 3em;
  background-color: #B64926; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  color: initial;
  background-color: initial;
  border-color: none; }

.btn-default:hover {
  color: initial;
  background-color: initial;
  border-color: none; }

#sectionAyuda {
  text-align: center;
  word-break: break-all; }
  #sectionAyuda h1 {
    font-size: 3em;
    color: #8E2800; }
  #sectionAyuda h2 {
    font-size: 2em;
    color: white; }
  #sectionAyuda a {
    font-size: 1em; }
  #sectionAyuda button {
    background-color: #FFB03B;
    color: #8E2800;
    width: 100%;
    font-size: 3em; }
